name: Deploy Frontend to Dev

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build application
        run: |
          cd ./frontend
          npm run build

      - name: Deploy via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_DEV_HOST }}
          username: ${{ secrets.SSH_DEV_USER }}
          key: ${{ secrets.SSH_DEV_KEY }}
          source: "dist"
          target: "/var/www/frontend-pioneer"
          strip_components: 1        

      - name: Set permissions
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_DEV_HOST }}
          username: ${{ secrets.SSH_DEV_USER }}
          key: ${{ secrets.SSH_DEV_KEY }}
          script: |
            sudo chown -R www-data:www-data /var/www/frontend-pioneer
            find /var/www/frontend-pioneer -type f -exec chmod 644 {} \;
            find /var/www/frontend-pioneer -type d -exec chmod 755 {} \;
            sudo nginx -t && sudo systemctl reload nginx